<!DOCTYPE html>
<html lang="en">
    <head>
        {{>header_link}}
        <link rel="stylesheet" href="/css/style.css">

    </head>
<body>
    <div class="container-fluid">
        <div class="row">
            {{>header}}

            <div class="page_not_found">
                    <div class="image_wrap">
                        <img src="/images/404.gif" alt="">
                    </div>
                    <h3>
                        {{errorComments}}
                    </h3>
            </div>
            {{>footer}}
        </div>
    </div>
</body>
</html>