<!DOCTYPE html>
<html lang="en">
{{>header_link}}
<body>
    {{!-- {{>header}} --}}
    <div class="container-fluid">
        <div class="row">
            {{>header}}
        </div>

        <div class="container d-flex justify-content-center">
        <div class="col-lg-12 row mt-5">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.pexels.com/photos/2422915/pexels-photo-2422915.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <a href="#" class="btn btn-dark">View</a>
                </div>
            </div>
        
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.pexels.com/photos/2422915/pexels-photo-2422915.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <a href="#" class="btn btn-dark">View</a>
                </div>
            </div>
        
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.pexels.com/photos/2422915/pexels-photo-2422915.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <a href="#" class="btn btn-dark">View</a>
                </div>
            </div>
        </div>
        </div>
      
        <div class="footer row mt-5">
            {{>footer}}
        </div>
    </div>
</body>
</html>